# Dependencies
node_modules/
dist/
build/

# Secrets & Authentication
.env
token.json
credentials.json
*.json.bak

# Local Database
*.db
*.db-journal
*.sqlite

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
